body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url("/week 2/images/pexels1.jpg");
    background-size: cover;
   /* background-color: black;*/
   background-repeat: no-repeat;
   height: 100vh;
      
}


.head {
    color: darkgoldenrod;
    
}
h1, h3 {
    color: cadetblue;
}
.log {
    
    font-size: 20px;
    border-radius: 10px;
    color: brown;
    background-color: rgb(49, 70, 3);
    width: 250px;

}
.log:hover{
    background-color: darkolivegreen;
    color: bisque;
}
.mail {
    color: darkgoldenrod;
    width: 250px;
    font-size: 20px;
    border-radius: 10px;
}
#tex {
    font-size: 25px;
    color: rgb(138, 201, 44);
    text-align: center;
}
.pass {
    color: rgb(138, 201, 44);
    font-size: 30px;

}
.ptext {
    border-radius: 10px;
    background-color: aliceblue;
    width: 250px;
    font-size: 20px;


}
.btn {
    
    border-radius: 8px;
    font-size: 35px;
    color: brown;
    background-color: cornflowerblue;
    width: 180px;


}
.btn:hover {
    background-color: red;
    color: pink;
}

.text {
    color: antiquewhite;
    margin-top: 25px;
    margin-bottom: 20px;


}
.para {
    color: antiquewhite;
}

